/* Style for features */
.grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

.features-card {
    position: relative;
    background-color: #fff;
    height: 220px;
    padding: 25px;
    padding-block-start: 40px;
    margin-block-start: 24px;
    box-shadow: 3px 4px 30px hsla(242, 82%, 32%, 0.2);
    transition: 0.5s ease;
}

.features-card .card-number {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    background-color: #ededed;
    font-size: 2.2rem;
    font-weight: 600;
    padding-block: 5px;
    min-width: 50px;
    text-align: center;
    border-radius: 5px;
    transition: 0.25s ease;
}

.lista :hover{
    background-color: #3B8;
}

.card-text{
    padding-top: 2rem;
    font-size: medium;
}

.card-title{
    font-size: large;
    padding-top: 0.8rem;
}